.destination {
    margin-bottom: 120px;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 56px;
    }
    &-more {
        color: $primary-color;
        display: flex;
        align-items: center;
        gap: 0 6px;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
    }
    &-item {
        height: 365px;
        position: relative;
    }
    &-image {
        height: 100%;
        width: 100%;
        img {
            border-radius: 8px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &-content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        border-top-right-radius: 8px;
        padding: 12px 32px 0 0;
        background-color: #fff;
    }
    &-name {
        font-size: 16px;
        font-weight: 600;
        color: $gray-darkest;
        margin-bottom: 8px;
    }
    &-country {
        font-size: 14px;
    }
    @media screen and (max-width: 1023px) {
        margin-bottom: 72px;
        &-list {
            grid-auto-columns: 280px;
            grid-auto-flow: column;
            overflow: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-snap-stop: always;
            touch-action: manipulation;
            -webkit-overflow-scrolling: touch;
            grid-template-columns: unset;
        }
        &-list::-webkit-scrollbar {
            display: none;
            width: 0;
        }
        &-item {
            scroll-snap-align: start;
        }
    }
}
