.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    list-style: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    display: 15px;
    font-weight: 500;
    line-height: 1;
    height: 52px;
    padding: 0 60px;
    margin-left: 4px;
    border-radius: 30px;
    background-color: transparent;
    outline: none;
    &--primary {
        color: #fff;
        background-color: $primary-color;
    }
    &--secondary {
        color: $primary-color;
        border: 1px solid $primary-color;
    }
}

.dropdown {
    width: 100%;
    position: relative;
    &-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        opacity: 0;
        z-index: 1;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        transform: translateY(4px);
    }

    &-item,
    &-select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        border-radius: 8px;
        border: 1px solid $gray-dark;
        cursor: pointer;
    }
    &-item {
        border: none;
        &:hover {
            background-color: $gray-lighter;
        }
    }
    &:hover .dropdown-list {
        opacity: 1;
        visibility: visible;
    }
}