.testimonial {
    margin-bottom: 120px;
    &-heading {
        margin-bottom: 24px;
    }
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 28px;
    }
    &-content {
        max-width: 420px;
    }
    &-rating {
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
        color: #ffbb0c;
    }
    &-desc {
        color: $gray-darkest;
        margin-bottom: 40px;
        line-height: 1.4;
    }
    &-name {
        font-size: 16px;
        font-weight: bold;
        color: $gray-darkest;
        margin-bottom: 8px;
    }
    &-job {
        font-size: 14px;
    }
    @media screen and (max-width: 1023px)  {
        margin-bottom: 72px;
    }
    @media screen and (max-width: 767px)  {
        &-container {
            flex-direction: column;
            gap: 30px 0;
        }
        &-rating {
            justify-content: center;
        }
        &-content {
            text-align: center;
        }
        &-heading {
            text-align: center;
            margin-bottom: 32px;
        }
    }
}