body {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 1;
    color: $gray;
}

.heading {
    font-family: $secondary-font;
    color: $gray-darkest;
    &--small {
        line-height: 1.4;
        font-size: 36px;
    }
}

.text {
    font-weight: 300;
    line-height: 1.7;
    font-size: 17px;
    color: $gray-darker;
}